.popup__form_type_add {
  color: black;
  max-width: 430px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
}

@media (max-width: 800px) {
  .popup__form_type_add {
    max-width: 282px;
    padding: 25px 22px;
  }
}
