.popup__text {
  margin: 0;
  margin-bottom: 7px;
  border: none;
  padding: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  max-width: 358px;
  min-height: 27px;
}
