.popup__button_type_add {
  background-color: black;
  color: white;
  padding: 0;
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  border: none;
  width: 358px;
  height: 46px;
}

.popup__button_type_add:hover {
  opacity: 80%;
}

@media (max-width: 800px) {
  .popup__button_type_add {
    padding: 0;
    width: 258px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
