.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  flex-shrink: 0;
}

@media (max-width: 800px) {
  .footer {
    padding: 48px 19px 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
